<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pitch finding test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<button id="button_run" class="btn btn-outline-primary">Load pitches of example file into console</button>
<script>
    document.getElementById('button_run').addEventListener('click', async () => {
        const result = await fetch('/data/load_example_pitches/')
        const pitches = await result.json()
        console.log(pitches)
    })
</script>
</body>
</html>