<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>speech synthesis test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <button id="button_run" class="btn btn-outline-primary">Speak an example text</button>
<script>
    document.getElementById('button_run').addEventListener('click', () => {
        const speech = new SpeechSynthesisUtterance()
        const synth = window.speechSynthesis;

        speech.lang = 'en'
        speech.text = 'test'
        speech.volume = 1
        speech.rate = 10
        speech.pitch = 1
        speech.voice = window.speechSynthesis.getVoices()[0]

        synth.speak(speech)
    })
</script>

</body>
</html>